<div class="drawer">
  <input
    id="my-drawer"
    type="checkbox"
    class="drawer-toggle"
    [checked]="$isChatOpen()"
  />
  <div class="drawer-content">
    <main class="pt-8 pb-16 lg:pt-16 lg:pb-24 h-screen overflow-y-auto">
      <div class="flex justify-between px-4 mx-auto max-w-screen-xl">
        <div
          class="mx-auto w-full max-w-2xl format format-sm sm:format-base lg:format-lg format-blue dark:format-invert"
        >
          <markdown [data]="$context()" />
        </div>
      </div>
    </main>
  </div>
  <div class="drawer-side">
    <label
      for="my-drawer"
      aria-label="close sidebar"
      class="drawer-overlay"
    ></label>
    <div class="bg-base-200 text-base-content min-h-full w-96 p-4">
      <div class="w-full">
        @for (message of $history(); track message.id) {
          <div
            class="chat"
            [class.chat-start]="message.type === 'user'"
            [class.chat-end]="message.type === 'bot'"
          >
            <div class="chat-bubble">
              <markdown [data]="message.text" />
            </div>
          </div>
        }
      </div>
      <textarea
        (keyup.enter)="sendMessage()"
        class="w-full textarea textarea-bordered mt-5"
        placeholder="Ask me anything!!"
        [formControl]="messageCtrl"
      ></textarea>
    </div>
  </div>
</div>

@if ($isAiEnabled()) {
  <button
    (click)="toogleChat()"
    class="btn btn-primary btn-circle absolute bottom-8 right-8"
  >
    @if ($isChatOpen()) {
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 w-6"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M6 18L18 6M6 6l12 12"
        />
      </svg>
    } @else {
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 w-6"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"
        />
      </svg>
    }
  </button>
}
